<html>
<body>

<h1>Game Tracker for {{user.name}}</h1>

<!-- our nav bar! -->
<ul>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/create-game">Create Game</a></li>
</ul>

<!-- the list of games this user has added -->
<ol>
    {{#user.games}}
        <li>{{name}}</li>
    {{/user.games}}
</ol>

</body>
</html>